<nav [class.bg-white]="isScrolled">
  <div class="container mx-auto">
    <div class="nav-bar">
      <input class="input-search" placeholder="Search.." type="search" />
      <div class="min-w-fit py-1 pl-4">
        <div class="flex justify-end">
          <div class="flex flex-wrap space-x-3">
            <button class="btn btn-menu">
              <div class="icon-wrapper">
                <app-sdk-icon
                  icon="shopping_bag"
                  class="nav-icon"
                ></app-sdk-icon>
                <app-sdk-badge content="1"></app-sdk-badge>
              </div>
            </button>
            <button class="btn btn-menu">
              <div class="icon-wrapper">
                <app-sdk-icon icon="comment" class="nav-icon"></app-sdk-icon>
                <app-sdk-badge content="9+"></app-sdk-badge>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
