<div class="w-full">
  <div class="container mx-auto">
    <nav class="flex flex-wrap w-full items-center py-6 px-4">
      <input class="input-search" placeholder="Search.." type="search" />
      <div class="min-w-fit py-1 pl-4">
        <div class="flex justify-end">
          <div class="flex flex-wrap space-x-3">
            <div>
              <div class="icon-wrapper">
                <app-sdk-icon
                  icon="shopping_bag"
                  class="nav-icon"
                ></app-sdk-icon>
                <app-sdk-badge content="1"></app-sdk-badge>
              </div>
            </div>
            <div>
              <div class="icon-wrapper">
                <app-sdk-icon icon="comment" class="nav-icon"></app-sdk-icon>
                <app-sdk-badge content="9+"></app-sdk-badge>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
