<ng-container *ngIf="product$ | async as product">
  <app-product-detail-navbar
    [product]="product"
    class="animate fade animation-delay-200"
  ></app-product-detail-navbar>
  <div class="w-full pt-[5.7rem]">
    <div class="w-full animate slide animation-delay-300">
      <app-product-img-overview [product]="product"></app-product-img-overview>
    </div>
    <section class="w-full pb-24">
      <div class="container mx-auto">
        <div class="p-4">
          <div class="w-full">
            <div
              class="flex flex-col space-y-3 pb-3 animate slide animation-delay-700"
            >
              <a
                href=""
                target="_blank"
                class="product-store flex justify-start items-center space-x-2 text-gray-200"
              >
                <app-sdk-icon icon="storefront"></app-sdk-icon>
                <h1>{{ product.store.username }}</h1>
              </a>
              <p class="text-xl font-semibold capitalize text-black pt-3">
                {{ product.name }}
              </p>
              <div class="flex justify-between">
                <ul class="product-stat">
                  <li class="flex flex-wrap">
                    <div class="flex flex-wrap items-center justify-start">
                      <app-sdk-icon
                        class="product-rating rating-score"
                        icon="star"
                        [isFilled]="true"
                      ></app-sdk-icon>
                      <span class="pl-1 text-gray-200">
                        {{ product.reviews.averageRating }} Ratings</span
                      >
                    </div>
                  </li>
                  <li class="flex flex-wrap">
                    <span class="pl-1 text-gray-200">
                      {{ product.reviews.totalReviews | countFormatter }}
                      Reviews</span
                    >
                  </li>
                  <li class="flex flex-wrap">
                    <div class="flex flex-wrap items-center justify-start">
                      <span class="pl-1 text-gray-200">
                        {{ product.totalSold | countFormatter }} Sold</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-full animate slide-bottom animation-delay-800">
              <div class="flex flex-row relative w-full">
                <button class="nav-tab-button selected w-2/5">About</button>
                <button class="nav-tab-button flex-1">Reviews</button>
                <div
                  class="w-2/5 rounded-sm h-0.5 absolute -bottom-[0.5px] left-0 z-10 bg-green"
                ></div>
              </div>
            </div>
          </div>
          <div class="w-full animate slide-extra animation-delay-300">
            <app-product-features
              [features]="product.features"
            ></app-product-features>
            <app-product-description
              [description]="product.description"
            ></app-product-description>
            <app-product-shipping-info
              [shippingInfo]="product.shippingInfo"
            ></app-product-shipping-info>
            <app-product-seller-info
              [store]="product.store"
              [sellerInfo]="product.sellerInfo"
            ></app-product-seller-info>
            <app-product-review
              [reviews]="product.reviews"
            ></app-product-review>
          </div>
        </div>
      </div>
      <app-product-list
        *ngIf="recommendedProducts$ | async as recommendedProducts"
        [productList]="recommendedProducts"
        title="Recommendation"
        [display]="'horizontal'"
      ></app-product-list>
    </section>
  </div>
  <app-cart-overview
    class="animate slide-bottom animation-delay-700"
  ></app-cart-overview>
</ng-container>
