@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-slide-extra {
  0% {
    opacity: 0;
    transform: translate(0, 40%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-slide-bottom {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animate {
  animation-duration: 2s; //running slower to show effect
  animation-fill-mode: backwards;

  &.slide {
    animation-name: animate-slide;

    &-extra {
      animation-name: animate-slide-extra;
    }

    &-bottom {
      animation-name: animate-slide-bottom;
    }
  }

  &.fade {
    animation-name: animate-fade;
    animation-timing-function: ease;
  }

  &.animation-delay-200 {
    animation-delay: 0.2s;
  }
  &.animation-delay-300 {
    animation-delay: 0.3s;
  }
  &.animation-delay-400 {
    animation-delay: 0.4s;
  }
  &.animation-delay-500 {
    animation-delay: 0.5s;
  }
  &.animation-delay-700 {
    animation-delay: 0.7s;
  }
  &.animation-delay-800 {
    animation-delay: 0.8s;
  }
  &.animation-delay-1000 {
    animation-delay: 1s;
  }
}

.nav-tab-button {
  @apply py-1 px-2 text-gray-200 border-b border-gray-200;

  &.selected {
    @apply text-green border-green;
  }
}

article {
  @apply border-b border-solid border-gray-200 py-6;

  header {
    @apply mb-4;
  }

  h2 {
    @apply text-base text-black font-semibold;
    letter-spacing: -0.5px;
  }

  .key-title {
    @apply text-sm text-gray-200 pr-1 capitalize;
  }
}

.product-stat {
  @apply w-full flex justify-between;
}

.progress-bar {
  @apply flex-1 h-2 w-full rounded-lg bg-gray-300;

  .progress {
    @apply h-full rounded-lg bg-green;
    width: calc(100% * var(--progress-value));
  }
}

.rating-score {
  --iconDimension: 1.25rem;
}

.helpful-icon {
  --iconDimension: 1.25rem;
}
