<div class="w-full">
  <div class="container mx-auto">
    <div class="w-full py-6 px-4">
      <div class="w-full flex justify-between items-center mb-4">
        <span class="text-xl font-medium">Best Sale Product</span>
        <span class="text-base text-green font-medium">See more</span>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div
          *ngFor="
            let product of productList;
            let index = index;
            trackBy: trackByFn
          "
          class="flex-1"
        >
          <app-product-card [isEven]="(index + 1) % 2 === 0"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
